@model IEnumerable<MVCAssignment.Models.Trainer>

@{
    ViewBag.Title = "Trainers";
}

<h2></h2>

<p>
    <button class="btn btn-sm btn-warning"> @Html.ActionLink("Create New", "Create")</button>
</p>
<br />
<table class="table table-bordered table-hover">
    <tr style="background-color:darkred">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <button class="btn  btn-primary btn-sm">   @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button> |
                <button class="btn btn-success btn-sm">    @Html.ActionLink("Details", "Details", new { id = item.Id }) </button> |
                <button class="btn btn-danger btn-sm">     @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
            </td>
        </tr>
    }

</table>
