@model IEnumerable<MVCAssignment.Models.Course>
@{
    ViewBag.Title = "AllAssignmentsPerCoursePerStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllAssignmentsPerCoursePerStudent</h2>
<br />
<br />

<table class="table table-bordered table-hover">
    <tr style="background-color:darkred">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stream)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @foreach (var ass in item.Assignments)
                {
                    <p>@ass.Title</p>

                }
            </td>
            <td>
                @foreach (var stu in item.Students)
                {
                    <p>@stu.FirstName @stu.LastName</p>
                }
            </td>

        </tr>
    }

</table>




